@page "/counter"
@inject BlazorApp.Data.CounterState CounterState

@using System.Threading;

<h1 style="color:@_color">Counter</h1>

<p>Current count: @CounterState.Count</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
<button class="btn btn-secondary" @onclick="AutoIncrement">Auto Increment</button>


@code {
    [CascadingParameter(Name = "ThemeColor")]
    string _color { get; set; }

    private void IncrementCount()
    {
        CounterState.Count++;
    }

    void AutoIncrement()
    {
        var timer = new Timer(x =>
        {
            InvokeAsync(() =>
            {
                IncrementCount();
                StateHasChanged();
            });
        }, null, 1000, 1000);
    }
}
