@page "/user"
@using  BlazorApp.Data;

<h3>Online User</h3>

<label>Theme Color:</label>
<select class="form-control" @bind="_selectedColor">
    @foreach(var option in _options)
    {
        <option value="@option">
            @option
        </option>
    }
</select>

<CascadingValue Name="ThemeColor" Value="_selectedColor">
    <ShowUser Users="_users" CallbackTest="CallbackTestFunc" @ref="_showUser"></ShowUser>
</CascadingValue>
<br />

<div class="container">
    <div class="row">
        <div class="col">
            <input class="form-control" placeholder="Add User"@bind-value="_inputName" />
        </div>
        <div class="col">
            <button class="btn btn-primary" type="button" @onclick="AddUser" disabled="@(_users.Count()>=5)">Add a User</button>
        </div>
    </div>
</div>

@code {

    string _selectedColor = "Green";
    List<string> _options = new List<string>() { "Green", "Red", "Blue" };

    List<UserData> _users = new List<UserData>();
    ShowUser _showUser;

    string _inputName;

    void AddUser()
    {
        _showUser.AddUser(new UserData() { Name = _inputName });
        _inputName = "";
    }

    void KickUser(UserData user)
    {
        _showUser.KickUser(user);
    }

    void CallbackTestFunc()
    {
        _inputName = "CallbackTest";
    }

}
